CONTACT_EMAIL=tu@email.com
CONTACT_LOCATION=Tu Ciudad, Provincia, País
GITHUB_URL=https://github.com/tuusuario
LINKEDIN_URL=https://linkedin.com/in/tuusuario
INSTAGRAM_URL=https://instagram.com/tuusuario
