---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Mi porfolio">
	<main>
		<Hero/>
		<Experience/>
		<Projects/>
		<Contact/>
	</main>
</Layout>
