---
import Layout from '../layouts/Layout.astro';
import Contact from '../components/Contact.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Mi porfolio">
	<main>
		<Hero/>
		<Contact/>
	  </main>
</Layout>



