---
import Layout from '../layouts/Layout.astro';
import Icon from '../components/Icon.astro';
import { Image } from 'astro:assets';
import ProfilePicture from '../static/img/profilepicture.jpg';
---

<Layout title="Mi porfolio">
	<main>
		<section class="w-full lg:w-[740px] mx-auto flex flex-row-reverse items-center py-44">
		  <div class="flex-shrink-0 ml-6">
			<Image class=" w-64 h-64 my-picture" src={ProfilePicture} alt="gonza photo"/>
		  </div>
		  <div >
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-2">Hola, soy Gonzalo <Icon/></h1>
			<h2 class="text-xl opacity-80">"Desarrollador joven de Argentina 🇦🇷, curioso y apasionado por el backend y frontend, 
			  explorando con entusiasmo el fascinante mundo del desarrollo."</h2>
		  </div>
		</section>
	  </main>
</Layout>

<style>
.my-picture {
  transition: transform .3s;
  transform-origin: center;
  border-radius: 8rem;
}
.my-picture:hover{
transform: scale(1.1);
box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.3); /* Ajusté la sombra blanca con transparencia */
}
</style>

