---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import Icon from '../components/Icon.astro';
---

<Layout title="Mi porfolio">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-14">Hola, soy Gonzalo <Icon/></h1>
			<h2 class="text-xl opacity-80">"Desarrollador joven de Argentina 🇦🇷, curioso y apasionado por el backend y frontend, 
				explorando con entusiasmo el fascinante mundo del desarrollo."</h2>
		</section>
		</main>
</Layout>

<style>
</style>

