---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Gonzalo — Full Stack Developer">
	<main>
		<Hero lang="es"/>
		<About lang="es"/>
		<Experience lang="es"/>
		<Projects lang="es"/>
		<Contact lang="es"/>
	</main>
</Layout>
