

<header class="flex justify-between items-center py-5 w-[1120px] mx-auto">
        <a href="/" class="flex items-center">
            <img class="my-picture rounded-full w-12 h-12" src="https://i.pinimg.com/736x/2f/9c/72/2f9c7234d0a9947a8d22201e625bfd45.jpg" alt="gonza photo">
            <span id="my-name">GONZXA</span>
        </a>
    <nav class="flex flex-row gap-x-10">
        <a href="/">Inicio</a>
        <a href="/about">Sobre mí</a>
        <a href="/project">Proyectos</a>
        <a href="/contact">Contacto</a>
    </nav>
</header>



<style>
    #my-name{
        padding-left: 1rem;
        font-family: 'Yatra One';
    }
    .navbar{
    }
</style>