---
    import Icon_Home from './icons/icon-home.astro';
    import Icon_User from './icons/icon-user.astro';
    import Icon_Project from './icons/icon-project.astro';
    import Icon_Contact from './icons/icon-contact.astro'
    import About from './About.astro';
    
---

<div class="container-navbar mx-4 z-10">
    <a href="#" class="toggleBox">
        <span class="icon"></span>
    </a>
    <ul class="navItems">
        <li>
            <a href="#home" class="navLink">
                <i style="--i:1" ><Icon_Home/></i>
                <span style="--g:1">Inicio</span>
            </a>
        </li>
        <li>
            <a href="About" class="navLink">
                <i style="--i:2"><Icon_User/></i>
                <span style="--g:2">Sobre mi</span>
            </a>
        </li>
        <li>
            <a href="/project" class="navLink">
                <i style="--i:3"><Icon_Project/></i>
                <span style="--g:3">Proyectos</span>
            </a>
        </li>
        <li>
            <a href="#section-contact" class="navLink">
                <i style="--i:4"><Icon_Contact/></i>
                <span style="--g:4">Contacto</span>
            </a>
        </li>
    </ul>
</div>

<style>
    @media (max-width: 990px) {

        .container-navbar{
            top: 5%!important;
        }
    }


    .container-navbar {
        top: 30%;
        height: 70px;
        width: 70px;
        background-color: white;
        border-radius: 50px;
        position: fixed;
        transition: 0.4s ease;
    }

    .container-navbar.active{
        height: 420px;
    }

    .container-navbar.active .navItems{
        visibility: visible;

    }

    .toggleBox {
        position: relative;
        display: block;
        height: 70px;
        width: 70px;
        border-radius: 50px;
    }

    .icon {
        position: absolute;
        height: 4px;
        width: 35px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #161d2c;
        border-radius: 50px;
    }

    .toggleBox.active .icon {
        width: 0;
    }

    .icon::before,
    .icon::after {
        position: absolute;
        content: '';
        height: 4px;
        width: 35px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #161d2c;
        border-radius: 50px;
        transition: 0.3s;
    }

    .icon::before {
        top: 12px;
    }

    .icon::after {
        bottom: 8px;
    }

    .toggleBox.active .icon::before {
        width: 40px;
        transform-origin: right;
        transform: translate(-25px, 4px) rotate(45deg);
    }

    .toggleBox.active .icon::after {
        width: 40px;
        transform-origin: right;
        transform: translate(-25px, -6px) rotate(-45deg);
    }

    .navItems {
        display: flex;
        flex-direction: column;
        visibility: hidden;
        padding-inline-start: 21px !important;
    }

    .navLink {
        display: flex;
        align-items: center;
    }

    li{
        list-style: none;
    }

    li a{
        text-transform: uppercase;
        color: #161d2c;


    }

    li a i{
        position: relative;
        display: block;
        font-size: 18px;
        padding: 35px 5px;
        width: 100%;
        text-align: center;
        transform: scale(0);
    }



    .container-navbar.active .navItems li a i{
        transform: scale(1);
        transition: 0.4s ease;
        transition-delay: calc(0.08s * var(--i));
    }

    .container-navbar.active .navItems li:hover a i{
        transition: 0.2s ease;
        color: #26D07C;
    }

    li a span{
        position: absolute;
        color: #fff;
        padding-left: 2rem;
        font-weight: 500;
        letter-spacing: 2px;
        margin-left: 10px;
    }

    .container-navbar.active .navItems li a span{
        transform: translateX(15px);
        transition: 0.4s ease;
        transition-delay: calc(0.08s * var(--g));
    }

    .container-navbar.active .navItems li:hover a span{
        transform: translateX(30px);
        transition: 0.2s ease;
        color: #26D07C;
    }



</style>

<script>

    const toggleClick = document.querySelector('.toggleBox');
    var container_navbar = document.querySelector('.container-navbar');
    toggleClick.addEventListener('click', (event) => {
        event.preventDefault(); // Detener la acción predeterminada del enlace
        toggleClick.classList.toggle('active');
        container_navbar.classList.toggle('active');
    }); 

</script>
